<div class="container-fluid" id="showlocations">

<div class="show-info">
  <h3>Your Current Location</h3>
  <p><%= @location.full_street_address %> <%= link_to fa_icon('pencil', text: 'Edit'), edit_location_path(@location) %></p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id="map" style="height:70vh;width:70vh;margin:0;padding:0;"></div>
   <script>
      var map, mapOptions;
      function initMap() {
       var userLatLng = {
         lat: <%= @location.latitude %>,
         lng: <%= @location.longitude %>
        };

       var nearbyBuses = <%= raw @buses.to_json %>;
       var busIcon = "<%= image_path 'bus.png' %>";
       var userIcon = "<%= image_path 'user.png' %>";

      mapOptions = {
        center: userLatLng,
        zoom: 14
       };

       map = new google.maps.Map(document.getElementById('map'), mapOptions);

       var userMarker = new google.maps.Marker({
         position: userLatLng,
         map: map,
         icon: userIcon,
         animation: google.maps.Animation.DROP,
         title: "Your Location"
       });

       var userInfo = '<div id="content">' + '<h3>3000 Peachtree Street, Atlanta, GA' + '</h3>' + '</div>';

       var userWindow = new google.maps.InfoWindow({
        content: userInfo
       });

       nearbyBuses.forEach(function(element){
        var busLatLng = new google.maps.LatLng(element['LATITUDE'], element['LONGITUDE']);

        var busMarker = new google.maps.Marker({
          position: busLatLng,
          map: map,
          icon: busIcon,
          animation: google.maps.Animation.DROP,
          title: element['ROUTE']
        });

        var busInfo = '<div id= "content">' + '<h3>Bus' + element['ROUTE'] + ' ' + element['DIRECTION'] + '</h3>' + '<div id="bodyContent">' + '<p>Next Stop:' + element['TIMEPOINT'] + '</p>' + '</div>' + '</div>';

        var busWindow = new google.maps.InfoWindow({
          content: busInfo
        });

        google.maps.event.addListener(busMarker, 'click', function(){
          busWindow.open(map, busMarker);
        });
      });

      google.maps.event.addListener(userMarker, 'click', function(){
        userWindow.open(map, userMarker);
      });
}
    </script>
        </div> <!-- Closes left column -->



    <div class="col-sm-6" id="closestlocations">
      <% @buses.each do |bus| %>
      <p>
        <strong>Route:</strong> <%= bus["ROUTE"] %> <%= bus["DIRECTION"] %> <br />
        <strong>Bus Number:</strong> <%= bus["VEHICLE"] %><br />
        <strong>Next Stop:</strong> <%= bus["TIMEPOINT"] %><br />
      </p>

      <% end %>

      <% if @buses.empty? %>
      <p>
        No buses nearby! Try again! <%= link_to 'Edit your location', edit_location_path %>
      </p>

      <% end %>
    </div> <!-- Closes right column -->

  </div> <!-- Closes row -->
</div> <!-- Closes container -->

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap" async defer></script>

